<h1>New project</h1>

<p>
  <%= error_messages_for :project %>
</p>

<% form_for(@project) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Start date</b><br />
    <%= day_year_date_select(f, :start_date) %>
  </p>

  <p>
    <b>End date</b><br />
    <%= day_year_date_select(f, :end_date) %>
  </p>

  <p>
    <b>Total budget</b><br />
    <%= f.text_field :total_budget %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', projects_path %>
